# 1. תלויות ליבה כבדות
numpy
torch

# 2. ספריות עיבוד אודיו
soundfile
librosa
pydub
pyannote.audio
SpeechBrain

# 3. ספריות עיבוד וידאו ותמונות
opencv-python
ffmpeg-python
moviepy

# 4. GUI (PyQt6)
pyqt6-sip
PyQt6

# 5. כלי עזר
tqdm
ruff
black
mypy
pytest
pytest-cov
