# 1. Core heavy dependencies
numpy
torch

# 2. Audio processing libraries
soundfile
librosa
pydub
pyannote.audio
SpeechBrain

# 3. Video and image processing libraries
opencv-python
ffmpeg-python
moviepy

# 4. GUI (PyQt6)
pyqt6-sip
PyQt6

# 5. Utilities
tqdm
